# ── Servidor ─────────────────────────────────────────────────────
PORT=3000

# ── Banco de Dados ────────────────────────────────────────────────
MONGO_URI=mongodb+srv://<usuario>:<senha>@cluster.mongodb.net/pedidos

# ── Autenticação JWT ──────────────────────────────────────────────
JWT_SECRET=sua_chave_secreta_aqui